#root {
  margin: 0;
  padding: 0;
  text-align: center;
  overflow-x: hidden;
}

body { 
  margin: 0;
  padding: 0;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.fa-github {
  font-size: 100px;
  padding-bottom: 15px;
}

.header-container {
  background-color: #010409;
  width: 100vw;
  padding: 20px 0;
}

.header-title {
  font-size: 50px;
  margin: 0;
  padding-bottom: 10px;
}

.header-desc {
  margin: 0;
}

.search-container {
  padding-top: 50px;
}

.search-box {
  width: 60%;
  height: 41px;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #acacac;
  outline: none;
  margin-right: 15px;
  padding-left: 10px;
}

.search-box:focus {
  border-color: #5588ff;
  outline: #5588ff;
}

.profiles-container {
  padding-top: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profiles-list {
  display: grid;
  width: 80%;
}

@media (min-width: 500px){
  .profiles-list{
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (min-width: 800px){
  .profiles-list{
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1100px){
  .profiles-list{
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 1400px){
  .profiles-list{
    grid-template-columns: repeat(4, 1fr);
  }
}