#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.brand {
  padding-top: 15px;
  font-size: 18px;
}


.navbar {
  height: 100px;
  display: flex;
  justify-content: space-between;  
}


.list {
  list-style: none;
  display: flex;
  flex-direction: row;
}

.list li {
  padding-left: 10px;
}

.logo {
  height: 200px;
  padding-top: 15px;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.title {
  color: #f58a97;
  font-family: "Rajdhani", sans-serif;
  font-size: 40px;
  margin-bottom: 0;
}

.desc {
  margin-top: 5px;
}

.categories-container{
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  opacity: 0.4;
  border-top: 1px solid rgba(255, 255, 255, 0.4);
}
.tag-list {
  display: flex;
  list-style: none;
  padding: 0;
}

.tag {
  padding-left: 10px;
}

.footer-container {
  margin-top: auto;
  height: 100px;
  display: flex;
  justify-content: space-between;  
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.4);
}

.footer-brand {
  font-size: 18px;
  margin-right: 10px;
}

.left-footer {
  display: flex;
}

.blue-box {
  border-radius: 5px;
  padding: 2px 3px;
  font-size: 16px;
  color: white;
  background-color: rgb(39, 157, 204);
  text-decoration: none;
}

.blue-box:hover {
  color: white;
}

.cards-container {
  padding-top: 50px;
  padding-bottom: 50px;
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  gap: 2rem;
}

@media (min-width: 900px){
  .cards-container{ grid-template-columns: repeat(2, 1fr);}
}
@media (min-width: 1200px){
  .cards-container{ grid-template-columns: repeat(3, 1fr);}
}

.card-container {
  height: 450px;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: white;
  color: black;
  padding-top: 20px;
  border-radius: 15px;
}

.card-info-container {
  width: 85%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.img-container {
  border-radius: 12px;
  margin: 0 auto;
  height: 160px;
  width: 100%;
  object-fit: contain;
  padding-bottom: 20px;
}

.img-container img {
  border-radius: 12px;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.title-container {
  display: flex;
  justify-content: flex-start;
  margin: 0;
  margin-bottom: 20px;
}

.title-container h3{
  padding: 0;
  margin: 0;
  text-align: left;
}
.desc-container p{
  padding: 0;
  margin: 0;
  text-align: left;
}

.desc-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}


.tags-container {
  height: 30px;
  margin-top: auto;
  display: flex;
  align-items: flex-end;
}


.spacer {
  padding-left: 15px;
  padding-bottom: 23px;
  font-size: 6px;
}

.tag {
  padding-left: 15px;
}